<div class="form-row align-items-center mb-sm-2">
  <div class="col my-1">
    <label class="mr-sm-2" for="provinciaID">Provincia</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.provincia %>" readonly />
  </div>
  <div class="col my-1">
    <label class="mr-sm-2" for="muniSelect">Municipio</label>
    <input type="text" id="municipio" name="municipio" class="form-control form-control-user" value="<%= consolidacion.municipio %>" readonly />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
    <label class="mr-sm-2" for="Pcanina">POBLACIÓN CANINA</label>
    <input type="number" class="form-control form-control-user" value="<%= consolidacion.ForAntirrabica.Pcanina %>" readonly />
  </div>
  <div class="col-sm-6">
    <label class="mr-sm-2" for="Pfelina">POBLACIÓN FELINA</label>
    <input type="number" class="form-control form-control-user" value="<%= consolidacion.ForAntirrabica.Pfelina %>" readonly />
  </div>
</div>

<div class="row" style="text-align: center !important">
  <div class="col-sm-12">
    <label class="mr-sm-12">ANIMALES VACUNADOS</label>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-3">
    <label class="mr-sm-2" for="caninosUrbano">CANINOS - URBANO</label>
    <input type="number" class="form-control form-control-user" value="<%= consolidacion.ForAntirrabica.canUrb %>" readonly />
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="caninosRural">CANINOS - RURAL</label>
    <input type="number" class="form-control form-control-user" value="<%= consolidacion.ForAntirrabica.canRur %>" readonly />
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="felinosUrbano">FELINOS - URBANO</label>
    <input type="number" class="form-control form-control-user" value="<%= consolidacion.ForAntirrabica.felUrb %>" readonly />
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="felinosRural">FELINOS - RURAL</label>
    <input type="number" class="form-control form-control-user" value="<%= consolidacion.ForAntirrabica.felRur %>" readonly />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-3">
    <label class="mr-sm-2" for="totalVacunados">TOTAL VACUNADOS</label>
    <input type="number" class="form-control form-control-user" value="<%= consolidacion.ForAntirrabica.totalVac %>" readonly />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-12">
    <label class="mr-sm-2" for="observacion">Observaciones</label>
    <textarea class="form-control form-control-user" readonly><%= consolidacion.observaciones %></textarea>
  </div>
</div>