<div class="form-row align-items-center mb-sm-2">
  <div class="col my-1">
    <label class="mr-sm-2" for="provinciaID">Provincia</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.provincia %>" readonly>
  </div>
  <div class="col my-1">
    <label class="mr-sm-2" for="muniSelect">Municipio</label>
    <input id="municipio" name="municipio" type="text" class="form-control form-control-user" value="<%= consolidacion.ForQuejas.municipioEstable %><%= consolidacion.ForQuejas.municipioComuni %>" readonly>
  </div>
</div>

<div id="quejaEstable" style="display: none;">
  <div class="form-group row">
    <div class="col-sm-8 mb-3 mb-sm-0">
      <label class="mr-sm-2" for="grupEsta">Grupo Del
        Establecimiento</label>
      <input type="text" class="form-control form-control-user" value="<%= consolidacion.grupo %>" readonly>
    </div>
    <div class="col-sm-2">
      <label class="mr-sm-2" for="codEsta">Codigo</label>
      <input type="text" class="form-control form-control-user" value="<%= consolidacion.codigo %>" readonly />
    </div>
    <div class="col-sm-2">
      <label class="mr-sm-2" for="Nriesgo">Nivel de Riesgo</label>
      <input type="text" class="form-control form-control-user" value="<%= consolidacion.nivelRiesgo %>" readonly />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <label class="mr-sm-2" for="tipoEsta">Tipo Del
        Establecimiento</label>
      <input type="text" class="form-control form-control-user" value="<%= consolidacion.tipo %>" readonly />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5">
      <label class="mr-sm-2" for="rSocial">Razón Social</label>
      <input type="text" class="form-control form-control-user" value="<%= consolidacion.razonSocial %>" readonly />
    </div>
    <div class="col-sm-2">
      <label class="mr-sm-3" for="tIden">Tipo </label>
      <input type="text" value="<%= consolidacion.tipoIdentificacion %>" class="form-control form-control-user" readonly>
    </div>
    <div class="col-sm-3">
      <label class="mr-sm-2" for="inputIden">Identificación</label>
      <input type="number" value="<%= consolidacion.identificacion %>" class="form-control form-control-user" readonly>
    </div>
    <div class="col-sm-2">
      <label class="mr-sm-2" for="phone">Telefono</label>
      <input type="number" value="<%= consolidacion.telefono %>" class="form-control form-control-user" readonly>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <label class="mr-sm-2" for="rLegal">Representante Legal</label>
      <input type="text" class="form-control form-control-user" value="<%= consolidacion.repreLegal %>" readonly />
    </div>
    <div class="col-sm-3">
      <label class="mr-sm-2" for="direccion">Dirección</label>
      <input type="text" class="form-control form-control-user" value="<%= consolidacion.direccion %>" readonly />
    </div>
    <div class="col-sm-3">
      <label class="mr-sm-2" for="estado">Estado</label>
      <input type="text" class="form-control form-control-user" value="<%= consolidacion.estado %>" readonly />
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
    <label class="mr-sm-2" for="tipQueja">Tipo de Queja</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.ForQuejas.tipoQueja %>" readonly>
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="fechRece">Fecha de
      Recepción</label>
    <input type="text" class="form-control form-control-user" value="<%= moment(consolidacion.ForQuejas.frecep,"YYYY/MM/DD").add(1, 'days').format('DD-MM-YYYY'); %>" readonly>
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="fVisit">Fecha_Visita</label>
    <input type="text" class="form-control form-control-user" value="<%= moment(consolidacion.fvisit,"YYYY/MM/DD").add(1, 'days').format('DD-MM-YYYY'); %>" readonly />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
    <label class="mr-sm-2" for="perCausa">Persona Que Causa La
      Queja</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.ForQuejas.perCausaQueja %>" readonly>
  </div>
  <div class="col-sm-6">
    <label class="mr-sm-2" for="perAfec">Persona
      Afectada</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.ForQuejas.perAfectQueja %>" readonly>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
    <label class="mr-sm-2" for="descQueja">Descripción De La
      Queja</label>
    <textarea class="form-control form-control-user" readonly><%= consolidacion.ForQuejas.descQueja %></textarea>
  </div>
  <div class=" col-sm-6">
    <label class="mr-sm-2" for="requeQueja">Requerimientos</label>
    <textarea class="form-control form-control-user" readonly><%= consolidacion.ForQuejas.reqQueja %></textarea>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-12">
    <label class="mr-sm-2" for="observacion">Observaciones</label>
    <textarea name="observacion" id="observacion" class="form-control form-control-user" readonly><%= consolidacion.observaciones %></textarea>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-12">
    <label class="mr-sm-2" for="fields">Archivo(s) Adjuntos</label>
    <div class="control-group" id="fields">
      <div class="controls">
        <div class="entry input-group upload-input-group">
          <input class="form-control" name="myFiles" id="myfiles" type="file" />
          <button class="btn btn-upload btn-success btn-add" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>