<div class="form-row align-items-center mb-sm-2">
  <div class="col my-1">
    <label class="mr-sm-2" for="provinciaID">Provincia</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.provincia %>" readonly>
  </div>
  <div class="col my-1">
    <label class="mr-sm-2" for="muniSelect">Municipio</label>
    <input id="municipio" name="municipio" type="text" class="form-control form-control-user" value="<%= consolidacion.municipio %>" readonly>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-8 mb-3 mb-sm-0">
    <label class="mr-sm-2" for="grupEsta">Grupo Del
      Establecimiento</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.grupo %>" readonly>
  </div>
  <div class="col-sm-2">
    <label class="mr-sm-2" for="codEsta">Codigo</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.codigo %>" readonly />
  </div>
  <div class="col-sm-2">
    <label class="mr-sm-2" for="Nriesgo">Nivel de Riesgo</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.nivelRiesgo %>" readonly />
  </div>

</div>

<div class="form-group row">
  <div class="col-sm-12">
    <label class="mr-sm-2" for="tipoEsta">Tipo Del
      Establecimiento</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.tipo %>" readonly />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-5">
    <label class="mr-sm-2" for="rSocial">Razón Social</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.razonSocial %>" readonly />
  </div>
  <div class="col-sm-2">
    <label class="mr-sm-3" for="tIden">Tipo </label>
    <input type="text" value="<%= consolidacion.tipoIdentificacion %>" class="form-control form-control-user" readonly>
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="inputIden">Identificación</label>
    <input type="number" value="<%= consolidacion.identificacion %>" class="form-control form-control-user" readonly>
  </div>
  <div class="col-sm-2">
    <label class="mr-sm-2" for="phone">Telefono</label>
    <input type="number" value="<%= consolidacion.telefono %>" class="form-control form-control-user" readonly>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
    <label class="mr-sm-2" for="rLegal">Representante Legal</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.repreLegal %>" readonly />
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="direccion">Dirección</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.direccion %>" readonly />
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="estado">Estado</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.estado %>" readonly />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-4">
    <label class="mr-sm-2" for="tipMues">Tipo de Muestra</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.ForTomaMuestras.tipMuestra %>" readonly />
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="descripTip">Descripción De La Muestra</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.ForTomaMuestras.descMuestra %>" readonly />
  </div>
  <div class="col-sm-5">
    <label class="mr-sm-2" for="tipAnali">Tipo de Analisis</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.ForTomaMuestras.tipAnalisis %>" readonly />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-3">
    <label class="mr-sm-2" for="zona">Zona</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.ForTomaMuestras.zona %>" readonly />
  </div>
  <div class="col-sm-6">
    <label class="mr-sm-2" for="objEst">Objeto de Analisis</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.ForTomaMuestras.objAnalisis %>" readonly />
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="fVisit">Fecha_Visita</label>
    <input type="text" class="form-control form-control-user" value="<%= moment(consolidacion.fvisit,"YYYY/MM/DD").add(1, 'days').format('DD-MM-YYYY'); %>" readonly />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-12">
    <label class="mr-sm-2" for="acompananteEmp">Nombre Y Cargo Del Acompañante Por Parte De La
      Empresa Y/O Institución</label>
    <input type="text" class="form-control form-control-user" value="<%= consolidacion.ForTomaMuestras.acompanante %>" readonly />
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-12">
    <label class="mr-sm-2" for="observacion">Observaciones</label>
    <textarea name="observacion" id="observacion" class="form-control form-control-user" readonly><%= consolidacion.observaciones %></textarea>
  </div>
</div>