<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../../../tools/head'); %>
  <link rel="stylesheet" href="/css/dropzone.css">
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../../../tools/sidebarTec'); %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('../../../tools/topbar'); %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/tecnico/Consolidaciones/Ver">Consolidaciones</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="/tecnico/Consolidaciones/Ver/ViviendaSaludable">Vivienda Saludable</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Corregir
                    </li>
                  </ol>
                </nav>
                <!-- Nested Row within Card Body -->
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">VIVIENDA SALUDABLE</h1>
                  </div>

                  <form action="/tecnico/Consolidaciones/Rechazado/ViviendaSaludable/<%= consolidacion._id %>" method="POST" enctype="multipart/form-data">
                    <input type="text" value="on" id="viviSaluON" name="viviSaluON" style="display: none;" readonly>

                    <div class="form-group row">
                      <div class="col-sm-3">
                        <label class="mr-sm-2" for="criterio">Criterio</label>
                        <input type="text" class="form-control form-control-user" value="Rechazado" readonly>
                      </div>
                      <div class="col-sm-9" id="divMotivo">
                        <label class="mr-sm-2" for="motivo">Motivo</label>
                        <textarea maxlength="270" rows="2" name="motivo" id="motivo" class="form-control form-control-user" readonly><%= consolidacion.reporte.motivo %></textarea>
                      </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider" style="border-top: 1px solid rgb(0 0 0)" />

                    <div class="form-row align-items-center mb-sm-2">
                      <div class="col my-1">
                        <label class="mr-sm-2" for="provinciaID">Provincia</label>
                        <input type="text" class="form-control form-control-user" id="provinciaID" name="provincia" value="<%= user.provincia %>" readonly>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="muniSelect">Municipio</label>
                        <input type="text" class="form-control form-control-user" id="muniSelect" name="municipio" value="<%= consolidacion.municipio %>" readonly>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="vereda">Vereda/Localidad</label>
                        <input type="text" class="form-control form-control-user" id="vereda" name="vereda" value="<%= consolidacion.ForViviSaludable.vereda %>" readonly>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col my-1">
                        <label class="mr-sm-2" for="direccion">Dirección</label>
                        <input type="text" class="form-control form-control-user" id="direccion" name="direccion" value="<%= consolidacion.ForViviSaludable.direccion %>" readonly />
                      </div>
                      <div class="col my-1">
                        <label class=" mr-sm-2" for="vivienda">Vivienda</label>
                        <input type="text" value="<%= consolidacion.ForViviSaludable.vivienda %>" readonly class="form-control form-control-user" id="vivienda" name="vivienda" />
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label class="mr-sm-2" for="NVisit">Nº de Visita</label>
                        <input type="number" min="1" max="6" value="<%= consolidacion.ForViviSaludable.NVisit %>" readonly class="form-control form-control-user" id="NVisit" name="NVisit" />
                      </div>
                      <div class="col-sm-6">
                        <label class="mr-sm-2" for="fVisit">Fecha Visita</label>
                        <input type="date" name="fVisit" class="form-control form-control-user" value="<%= moment(consolidacion.fvisit).add(1, 'days').format('YYYY-MM-DD'); %>" readonly />
                      </div>
                    </div>

                    <div class="row" style="text-align: center !important;">
                      <div class="col-sm-12">
                        <label class="mr-sm-12">VIVIENDA COMO ESPACIO VITAL</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F101">101</label>
                        <select id="F101" name="F101" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F102">102</label>
                        <select id="F102" name="F102" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F103">103</label>
                        <select id="F103" name="F103" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F104">104</label>
                        <select id="F104" name="F104" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F105">105</label>
                        <select id="F105" name="F105" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="Final1">Final</label>
                        <select id="Final1" name="Final1" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                    </div>

                    <div class="row" style="text-align: center !important;">
                      <div class="col-sm-12">
                        <label class="mr-sm-12">SORBOS DE VIDA - AGUA PARA CONSUMIR EN LA VIVIENDA</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F201">201</label>
                        <select id="F201" name="F201" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F202">202</label>
                        <select id="F202" name="F202" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F203">203</label>
                        <select id="F203" name="F203" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F204">204</label>
                        <select id="F204" name="F204" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="Final2">Final</label>
                        <select id="Final2" name="Final2" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                    </div>

                    <div class="row" style="text-align: center !important;">
                      <div class="col-sm-12">
                        <label class="mr-sm-12">LAS EXCRETAS Y LAS AGUAS SUCIAS ANDAN POR AHÍ</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F301">301</label>
                        <select id="F301" name="F301" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F302">302</label>
                        <select id="F302" name="F302" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F303">303</label>
                        <select id="F303" name="F303" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F304">304</label>
                        <select id="F304" name="F304" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F305">305</label>
                        <select id="F305" name="F305" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="Final3">Final</label>
                        <select id="Final3" name="Final3" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                    </div>

                    <div class="row" style="text-align: center !important;">
                      <div class="col-sm-12">
                        <label class="mr-sm-12">LOS RESIDUOS SOLIDOS (BASURA EN LA VIVIENDA)</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F401">401</label>
                        <select id="F401" name="F401" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F402">402</label>
                        <select id="F402" name="F402" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F403">403</label>
                        <select id="F403" name="F403" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F404">404</label>
                        <select id="F404" name="F404" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="Final4">Final</label>
                        <select id="Final4" name="Final4" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                    </div>

                    <div class="row" style="text-align: center !important;">
                      <div class="col-sm-12">
                        <label class="mr-sm-12">OJO CON LAS PLAGAS</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F501">501</label>
                        <select id="F501" name="F501" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F502">502</label>
                        <select id="F502" name="F502" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F503">503</label>
                        <select id="F503" name="F503" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F504">504</label>
                        <select id="F504" name="F504" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="Final5">Final</label>
                        <select id="Final5" name="Final5" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                    </div>

                    <div class="row" style="text-align: center !important;">
                      <div class="col-sm-12">
                        <label class="mr-sm-12">ALIMENTOS Y VIVIENDA CON HIGIENE Y SALUD</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F601">601</label>
                        <select id="F601" name="F601" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F602">602</label>
                        <select id="F602" name="F602" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F603">603</label>
                        <select id="F603" name="F603" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="caninosUrbano">Final</label>
                        <select id="Final6" name="Final6" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                    </div>

                    <div class="row" style="text-align: center !important;">
                      <div class="col-sm-12">
                        <label class="mr-sm-12">DINAMICA FAMILIAR</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F701">701</label>
                        <select id="F701" name="F701" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F702">702</label>
                        <select id="F702" name="F702" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="F703">703</label>
                        <select id="F703" name="F703" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                      <div class="col my-1">
                        <label class="mr-sm-2" for="Final7">Final</label>
                        <select id="Final7" name="Final7" class="custom-select mr-sm-2">
                          <option>Blanco</option>
                          <option>Rojo</option>
                          <option>Verde</option>
                          <option>Amarillo</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label class="mr-sm-2" for="observacion">Observaciones
                          (Opcional)</label>
                        <textarea name="observacion" id="observacion" onkeyup="mayus(this);" maxlength="270" rows="2" class="form-control form-control-user"><%= consolidacion.observaciones %></textarea>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label class="mr-sm-2">Archivos Adjuntos</label>
                        <a href="/tecnico/evidencia/<%= consolidacion._id %>" type="button" class="btn btn-info">Descargar</a>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label class="mr-sm-2" for="fields">Adjuntar
                          Archivo(s) Nuevos</label>
                        <div class="drop-zone">
                          <span class="drop-zone__prompt">Arrastra el archivo o da click para buscar</span>
                          <input type="file" name="myFile" id="myFile" class="drop-zone__input" />
                        </div>
                      </div>
                    </div>

                    <button class="btn btn-primary btn-user btn-block" type="submit">
                      Enviar Corrección
                    </button>
                  </form>

                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('../../../tools/footer'); %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Salida</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Seleccione "Cerrar
          sesión" a continuación si está listo para
          finalizar su sesión actual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="/tecnico/logout">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Validations -->
  <script type="text/JavaScript" src="/js/Tecnico/formularios.js"></script>
  <script type="text/JavaScript" src="/js/tools/dropzone.js"></script>

  <!-- Alert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <% if(typeof alert !="undefined" ) { %>
  <script type="text/JavaScript">
    Swal.fire({
      title: '<%= alert[0].alertTitle %>',
      text:'<%= alert[0].alertMessage %>',
      icon:'<%= alert[0].alertIcon %>',
      showConfirmButton: <%= alert[0].showConfirmButton %>,
      timer: <%= alert[0].timer %>
    }).then(()=>{
      window.location = '<%= alert[0].ruta %>'
    })
  </script>
  <% } %>

  <script>
    $(window).bind('load', function() {
      var nav = document.getElementById('nav2');
      $('#navlink1').removeClass('collapsed');
      var nav3 = document.getElementById('collapseOne');
      var nav4 = document.getElementById('show2');
      nav.className += "  active";
      nav3.className += "  show";
      nav4.className += "  active";
    });

    document.getElementById("F101").value = "<%= consolidacion.ForViviSaludable.F101 %>"
    document.getElementById("F102").value = "<%= consolidacion.ForViviSaludable.F102 %>"
    document.getElementById("F103").value = "<%= consolidacion.ForViviSaludable.F103 %>"
    document.getElementById("F104").value = "<%= consolidacion.ForViviSaludable.F104 %>"
    document.getElementById("F105").value = "<%= consolidacion.ForViviSaludable.F105 %>"
    document.getElementById("Final1").value = "<%= consolidacion.ForViviSaludable.Final1 %>"
    document.getElementById("F201").value = "<%= consolidacion.ForViviSaludable.F201 %>"
    document.getElementById("F202").value = "<%= consolidacion.ForViviSaludable.F202 %>"
    document.getElementById("F203").value = "<%= consolidacion.ForViviSaludable.F203 %>"
    document.getElementById("F204").value = "<%= consolidacion.ForViviSaludable.F204 %>"
    document.getElementById("Final2").value = "<%= consolidacion.ForViviSaludable.Final2 %>"
    document.getElementById("F301").value = "<%= consolidacion.ForViviSaludable.F301 %>"
    document.getElementById("F302").value = "<%= consolidacion.ForViviSaludable.F302 %>"
    document.getElementById("F303").value = "<%= consolidacion.ForViviSaludable.F303 %>"
    document.getElementById("F304").value = "<%= consolidacion.ForViviSaludable.F304 %>"
    document.getElementById("F305").value = "<%= consolidacion.ForViviSaludable.F305 %>"
    document.getElementById("Final3").value = "<%= consolidacion.ForViviSaludable.Final3 %>"
    document.getElementById("F401").value = "<%= consolidacion.ForViviSaludable.F401 %>"
    document.getElementById("F402").value = "<%= consolidacion.ForViviSaludable.F402 %>"
    document.getElementById("F403").value = "<%= consolidacion.ForViviSaludable.F403 %>"
    document.getElementById("F404").value = "<%= consolidacion.ForViviSaludable.F404 %>"
    document.getElementById("Final4").value = "<%= consolidacion.ForViviSaludable.Final4 %>"
    document.getElementById("F501").value = "<%= consolidacion.ForViviSaludable.F501 %>"
    document.getElementById("F502").value = "<%= consolidacion.ForViviSaludable.F502 %>"
    document.getElementById("F503").value = "<%= consolidacion.ForViviSaludable.F503 %>"
    document.getElementById("F504").value = "<%= consolidacion.ForViviSaludable.F504 %>"
    document.getElementById("Final5").value = "<%= consolidacion.ForViviSaludable.Final5 %>"
    document.getElementById("F601").value = "<%= consolidacion.ForViviSaludable.F601 %>"
    document.getElementById("F602").value = "<%= consolidacion.ForViviSaludable.F602 %>"
    document.getElementById("F603").value = "<%= consolidacion.ForViviSaludable.F603 %>"
    document.getElementById("Final6").value = "<%= consolidacion.ForViviSaludable.Final6 %>"
    document.getElementById("F701").value = "<%= consolidacion.ForViviSaludable.F701 %>"
    document.getElementById("F702").value = "<%= consolidacion.ForViviSaludable.F702 %>"
    document.getElementById("F703").value = "<%= consolidacion.ForViviSaludable.F703 %>"
    document.getElementById("Final7").value = "<%= consolidacion.ForViviSaludable.Final7 %>"
  </script>
</body>

</html>