<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../../tools/head'); %>
    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
</head>

<body id="page-top" onload="greet()">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../../tools/sidebarAdmin'); %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../../tools/topbar'); %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <!-- Page Heading -->
              <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>

              <!-- DataTales Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">
                    Listado de Usuarios
                  </h6>
                </div>
                <div class="card-body">
                  <div class="alert alert-success" id="success" style="display: none;" role="alert">
                    ¡Editado Correctamente!
                  </div>
                  <div class="alert alert-success" id="success2" style="display: none;" role="alert">
                    ¡Borrado Correctamente!
                  </div>
                  <div class="alert alert-secondary" id="secondary" style="display: none;" role="alert">
                    ¡Error en La Base de Datos!
                  </div>
                  <div class="alert alert-danger" id="danger" style="display: none;" role="alert">
                    Contraseñas Diferentes
                  </div>
                  <div class="alert alert-warning" id="warnnig" style="display: none;" role="alert">
                    Ingrese todos los campos
                  </div>
                  <div class="alert alert-info" id="info" style="display: none;" role="alert">
                    Número de identifición ya registrada, intente con otro
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Identificación</th>
                          <th>Nombres</th>
                          <th>Apellidos</th>
                          <th>Provincia</th>
                          <th>Municipio</th>
                          <th>Rol</th>
                          <th>Acción</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Identificación</th>
                          <th>Nombres</th>
                          <th>Apellidos</th>
                          <th>Provincia</th>
                          <th>Municipio</th>
                          <th>Rol</th>
                          <th>Acción</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% if (users){ %>
                          <% users.forEach((users)=> { %>
                            <tr>
                              <td>
                                <%= users.user %>
                              </td>
                              <td>
                                <%= users.nombre %>
                              </td>
                              <td>
                                <%= users.apellido %>
                              </td>
                              <td>
                                <%= users.provincia %>
                              </td>
                              <td>
                                <%= users.municipio %>
                              </td>
                              <td>
                                <%= users.rol %>
                              </td>
                              <td>
                                <a onclick='editar_modal("<%= users.user %>", "<%= users.nombre %>", "<%= users.apellido %>", "<%= users.apellido %>", "<%= users.provincia %>", "<%= users.municipio %>", "<%= users.rol %>")'
                                  type="button" data-target="#editModal" data-toggle="modal"
                                  class="btn btn-warning btn-circle btn-sm">
                                  <i class="fas fa-pen-to-square"></i>
                                </a>
                                <a onclick='eliminar_modal("<%= users.user %>", "<%= users.nombre %> <%= users.apellido %>")'
                                  type="button" data-target="#deleteModal" data-toggle="modal"
                                  class="btn btn-danger btn-circle btn-sm">
                                  <i class="fas fa-trash"></i>
                                </a>
                              </td>
                            </tr>
                            <% }); %>
                              <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../../tools/footer'); %>
          <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Salida</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Seleccione "Cerrar sesión" a continuación si está listo para
          finalizar su sesión actual.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancelar
          </button>
          <a class="btn btn-primary" href="/admin/logout">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal-->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¡ATENCIÓN!</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form action="/admin/Cuentas/Usuarios" method="POST" autocomplete="off">
          <div class="modal-body">
            <div class="card-body p-0">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="name" name="name" placeholder="Nombres"
                    required />
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="lastname" name="lastname"
                    placeholder="Apellidos" required />
                </div>
              </div>
              <div class="form-group">
                <input type="number" class="form-control form-control-user" id="user" name="user" readonly />
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" id="pass" name="pass"
                    placeholder="Contraseña" required />
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" id="repass" name="repass"
                    placeholder="Repite la Contraseña" required />
                </div>
              </div>
              <div class="form-row align-items-center mb-sm-3">
                <div class="col-auto my-1">
                  <label class="mr-sm-2" for="provinciaID">Provincia</label>
                  <select id="provinciaID" name="provincia" class="custom-select mr-sm-2" required>
                    <option selected disabled value="">Seleccione la Provincia</option>
                    <% let numberSelected="" ; %>
                      <% fields.forEach((fields)=> { %>
                        <% if (numberSelected !=fields.nombre_provincia){ %>
                          <option value="<%= fields.nombre_provincia %>">
                            <%= fields.nombre_provincia %>
                          </option>
                          <% numberSelected=fields.nombre_provincia %>
                            <% } %>
                              <% }) %>
                  </select>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
                <div class="col-auto my-1">
                  <label class="mr-sm-2" for="muniSelect">Municipio</label>
                  <select id="muniSelect" name="municipio" class="custom-select mr-sm-2" required>
                    <option selected disabled>Seleccione el Municipio</option>
                  </select>
                </div>
                <div class="col-auto my-1">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Rol</label>
                  <select class="custom-select mr-sm-2" id="rol" name="rol" required>
                    <option selected disabled>Seleccione el Rol</option>
                    <option value="admin">Administrador</option>
                    <option value="moderador">Moderador</option>
                    <option value="visitante">Visitante</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">
              Cancelar
            </button>
            <button class="btn btn-primary " type="submit">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Delete Modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¡ATENCIÓN!</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Aprima el botón "Eliminar" a continuación si está listo para
          eliminar a el usuario:
          <div class="mb-3">
            <label for="userModal" class="form-label">Identificación</label>
            <input type="number" class="form-control" id="userModal" disabled>
          </div>
          <div class="mb-3">
            <label for="userModal" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreModal" disabled>
          </div>
          <b>*RECUERDE QUE ESTA ACCIÓN ES IRREVERSIBLE*</b>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancelar
          </button>
          <a id="btnModalDel" class="btn btn-primary">Eliminar</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>
  <!-- Alert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script type="text/JavaScript">
    $(window).bind("load", function () {
      var nav = document.getElementById("nav3");
      $("#navlink2").removeClass("collapsed");
      var nav3 = document.getElementById("collapsePages");
      var nav4 = document.getElementById("show16");
      nav.className += "  active";
      nav3.className += "  show";
      nav4.className += "  active";
      
    });
    function greet() {
      <% if (typeof val != "undefined") { %>
        document.getElementById("<%= val %>").removeAttribute("style")
      <% } %>
    }
    setTimeout(greet, 2000)

    function eliminar_modal(user, nombre) {
      document.getElementById("userModal").value = user;
      document.getElementById("nombreModal").value = nombre;
      document
        .getElementById("btnModalDel")
        .setAttribute("href", "/admin/Cuentas/Usuarios/delete/" + user);
    }

    function editar_modal(user, nombre, apellido, provincia, municipio, rol) {
      document.getElementById("user").value = user;
      document.getElementById("name").value = nombre;
      document.getElementById("lastname").value = apellido;
      document.getElementById("provinciaID").value = provincia;
      document.getElementById("muniSelect").value = municipio;
      document.getElementById("rol").value = rol;
    }
  </script>

  <script type="text/JavaScript">
      const array = []
      <% fields.forEach((fields)=> { %>
        array.push(["<%= fields.nombre_provincia %>"], ["<%= fields.nombre_municipio %>"])
      <% }) %>

      var selectP = document.getElementById('provinciaID');
      const selectM = document.getElementById("muniSelect");

      selectP.addEventListener('change', function () {
        var selectedOption = this.options[selectP.selectedIndex];

        //Eliminar el listado de Municipios si hay mas de 1
        for (let i = selectM.options.length; i >= 1; i--) {
          selectM.remove(i);
        }

        // Llenado de Municipios
        for(var i=0; i<array.length; i++) {
          if(array[i] == selectedOption.value){
            const option = document.createElement('option');
            const valor = array[i+1]
            option.value = valor;
            option.text = valor;
            selectM.add(option);
          }
        }
      });
    </script>

  <% if(alert.alert ) { %>
    <script type="text/JavaScript">
        Swal.fire({
          title: '<%= alert.alertTitle %>',
          text:'<%= alert.alertMessage %>',
          icon:'<%= alert.alertIcon %>',
          showConfirmButton: <%= alert.showConfirmButton %>,
          timer: <%= alert.timer %>
        }).then(()=>{
          window.location = '/<%= alert.ruta %>'
        })
      </script>
    <% } %>
</body>

</html>