<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../../../tools/head'); %>
        <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('../../../tools/sidebarTec'); %>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include('../../../tools/topbar'); %>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <div class="container">
                                <div class="card o-hidden border-0 shadow-lg my-5">
                                    <div class="card-body p-0">
                                        <!-- Nested Row within Card Body -->
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Establecimientos</h1>
                                            </div>
                                            <form onsubmit="establecimientosForm(event)" action="" method="POST"
                                                autocomplete="off">

                                                <%- include("./templateHV") %>

                                                    <div class="form-group row">
                                                        <div class="col-sm-3">
                                                            <label class="mr-sm-2" for="fVisit">Fecha Visita</label>
                                                            <input type="date" placeholder="Ninguna"
                                                                class="form-control form-control-user" id="fVisit"
                                                                name="fVisit" />
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="mr-sm-2" for="score">Puntaje</label>
                                                            <input type="number" placeholder="1,0" min="1" max="100"
                                                                class="form-control form-control-user" step="0.1"
                                                                id="score" name="score" />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label class="mr-sm-2" for="concepto">Concepto</label>
                                                            <select id="concepto" name="concepto"
                                                                class="custom-select mr-sm-2">
                                                                <option selected disabled>
                                                                    Seleccione El Concepto
                                                                </option>
                                                                <option value="FAVORABLE">FAVORABLE</option>
                                                                <option value="FAVORABLE CON REQUERIMIENTO">FAVORABLE
                                                                    CON
                                                                    REQUERIMIENTO</option>
                                                                <option value="DESFAVORABLE">DESFAVORABLE</option>
                                                                <option value="NO APLICA">NO APLICA</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-sm-4">
                                                            <label class="mr-sm-2" for="accion">Acción Realizada</label>
                                                            <select id="accion" name="accion"
                                                                class="custom-select mr-sm-2">
                                                                <option selected disabled>
                                                                    Seleccione La Acción
                                                                </option>
                                                                <option value="INSPECCIÓN">INSPECCIÓN</option>
                                                                <option value="CONTROL">CONTROL</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <label class="mr-sm-2" for="acta">Tipo de Acta
                                                                Utilizada</label>
                                                            <select id="acta" name="acta" class="custom-select mr-sm-2">
                                                                <option selected disabled>
                                                                    Seleccione
                                                                </option>
                                                                <option
                                                                    value="ENFOQUE DE RIESGO - PREPARARACIÓN DE ALIMENTOS">
                                                                    ENFOQUE DE RIESGO - PREPARARACIÓN DE ALIMENTOS
                                                                </option>
                                                                <option value="ENFOQUE DE RIESGO - EXPENDIOS DE CARNE">
                                                                    ENFOQUE DE RIESGO - EXPENDIOS DE CARNE
                                                                </option>
                                                                <option
                                                                    value="ENFOQUE DE RIESGO - EXPENDIOS DE ALIMENTOS">
                                                                    ENFOQUE DE RIESGO - EXPENDIOS DE ALIMENTOS
                                                                </option>
                                                                <option value="ENFOQUE DE RIESGO - GRANDES SUPERFICIES">
                                                                    ENFOQUE DE RIESGO - GRANDES SUPERFICIES
                                                                </option>
                                                                <option value="ENFOQUE DE RIESGO - ALMACENAMIENTO">
                                                                    ENFOQUE DE RIESGO - ALMACENAMIENTO
                                                                </option>
                                                                <option
                                                                    value="ENFOQUE DE RIESGO - VENTA EN VÍA PÚBLICA">
                                                                    ENFOQUE DE RIESGO - VENTA EN VÍA PÚBLICA
                                                                </option>
                                                                <option
                                                                    value="ENFOQUE DE RIESGO - EXPENDIOS DE BEBIDAS ALCOHÓLICAS">
                                                                    ENFOQUE DE RIESGO - EXPENDIOS DE BEBIDAS ALCOHÓLICAS
                                                                </option>
                                                                <option value="ENFOQUE DE RIESGO - PLAZAS DE MERCADO">
                                                                    ENFOQUE DE RIESGO - PLAZAS DE MERCADO
                                                                </option>
                                                                <option
                                                                    value="ENFOQUE DE RIESGO - ENSAMBLES DE ALIMENTOS">
                                                                    ENFOQUE DE RIESGO - ENSAMBLES DE ALIMENTOS
                                                                </option>
                                                                <option value="PGIRHS">PGIRHS</option>
                                                                <option value="CEMENTERIOS">CEMENTERIOS</option>
                                                                <option value="ACUEDUCTOS">ACUEDUCTOS</option>
                                                                <option value="PISCINAS">PISCINAS</option>
                                                                <option
                                                                    value="PARA DEPOSITOS, ALMACENES Y EXPENDIOS COMERCIALES DE PLAGUICIDAS">
                                                                    PARA DEPOSITOS, ALMACENES Y EXPENDIOS COMERCIALES DE
                                                                    PLAGUICIDAS
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <label class="mr-sm-2" for="observacion">Observaciones
                                                                (Opcional)</label>
                                                            <textarea name="observacion" id="observacion"
                                                                maxlength="270" rows="2"
                                                                class="form-control form-control-user"
                                                                placeholder="Escribe las Observaciones Que Creas Necesarias"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <!-- <div class="col-sm-4">
                                                            <label class="mr-sm-2" for="actaAnul">¿Acta Anulada?</label>
                                                            <select id="actaAnul" name="actaAnul"
                                                                class="custom-select mr-sm-2">
                                                                <option selected disabled>
                                                                    Seleccione
                                                                </option>
                                                                <option value="SI">SI</option>
                                                                <option value="NO">NO</option>
                                                            </select>
                                                        </div> -->
                                                        <div class="col-sm-4">
                                                            <label class="mr-sm-2" for="actaLey">¿Aplico Acta De La Ley
                                                                1335?</label>
                                                            <select id="actaLey" name="actaLey"
                                                                class="custom-select mr-sm-2">
                                                                <option selected disabled>
                                                                    Seleccione
                                                                </option>
                                                                <option value="SI">SI</option>
                                                                <option value="NO">NO</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <label class="mr-sm-2">Acciones IVC
                                                                Adicional</label>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="rotuladoON" name="rotuladoON" value="ROTULADO">
                                                                <label class="form-check-label"
                                                                    for="rotuladoON">ROTULADO</label>

                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="publicidadON" name="publicidadON"
                                                                    value="PUBLICIDAD">
                                                                <label class="form-check-label"
                                                                    for="publicidadON">PUBLICIDAD</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label><input type="checkbox" id="cbox1"
                                                                    value="first_checkbox"> Este es mi primer
                                                                checkbox</label><br>
                                                            <!-- <label class="mr-sm-2">Medidas Sanitarias</label>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="estblecimientosON" name="estblecimientosON"
                                                                    value="ESTABLECIMIENTOS">
                                                                <label class="form-check-label"
                                                                    for="estblecimientosON">ESTABLECIMIENTOS</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="productosON" name="productosON"
                                                                    value="PRODUCTOS">
                                                                <label class="form-check-label"
                                                                    for="productosON">PRODUCTOS</label>
                                                            </div> -->
                                                        </div>
                                                    </div>

                                                    <div id="rotuladoTemplate" style="display: none;">
                                                        <%- include('./rotulado'); %>
                                                    </div>
                                                    <div id="publicidadTemplate" style="display: none;">
                                                        <%- include('./publicidad'); %>
                                                    </div>
                                                    <div id="MedEstablecimientosTemplate" style="display: none;">
                                                        <%- include('./medEstablecimientos'); %>
                                                    </div>
                                                    <div id="MedProductosTemplate" style="display: none;">
                                                        <%- include('./medProductos'); %>
                                                    </div>

                                                    <!-- Divider -->
                                                    <hr class="sidebar-divider"
                                                        style="border-top: 1px solid rgb(0 0 0);">

                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                            <label class="mr-sm-2" for="observacion">Adjuntar
                                                                Archivo(s)</label>
                                                            <div class="fv-row">
                                                                <div class="dropzone" id="dropzone">
                                                                    <!--begin::Message-->
                                                                    <div class="dz-message needsclick">
                                                                        <!--begin::Icon-->
                                                                        <i
                                                                            class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                                                        <!--begin::Info-->
                                                                        <div class="ms-4">
                                                                            <h3 class="fs-5 fw-bold text-gray-900 mb-1">
                                                                                Arrastra archivos aqui o da
                                                                                click para buscar</h3>
                                                                            <span class="fs-7 fw-semibold "
                                                                                style="color: #50525c!important;">Cantidad
                                                                                Maxima de Archivos:
                                                                                10</span>
                                                                            <br>
                                                                            <span class="fs-7 fw-semibold "
                                                                                style="color: #50525c!important;">Peso
                                                                                Maximo:
                                                                                30 MB</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <button class="btn btn-primary btn-user btn-block" type="submit">
                                                        Registrar Consolidación
                                                    </button>
                                                    <a href="/tecnico/Consolidaciones/Enviar"
                                                        class="btn btn-secondary btn-user btn-block">
                                                        Cancelar
                                                    </a>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <%- include('../../../tools/footer'); %>
                    <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Salida</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar
                    sesión" a continuación si está listo para
                    finalizar su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/tecnico/logout">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Validations -->
    <script type="text/JavaScript" src="/js/Tecnico/formularios.js"></script>
    <script type="text/JavaScript" src="/js/tools/codigoEsta.js"></script>
    <script type="text/JavaScript" src="/js/tools/consolidaciones.js"></script>
    <script type="text/JavaScript" src="/js/tools/dropzone.js"></script>

    <!-- Alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/JavaScript">
        var arrayCod = []
        var arrayEsta = [] 
        <% if(codigos){ %>
            <% codigos.forEach((codigos)=> { %>
                arrayCod.push(["<%= codigos.grupo %>"], ["<%= codigos.codigo %>"], ["<%= codigos.tipo %>"], ["<%= codigos.nivelRiesgo %>"])
            <% }) %>
        <% } %>

        <% if(hojavida){ %>
            <% hojavida.forEach((hojavida)=> { %>
                arrayEsta.push(["<%= hojavida.provincia %>"], ["<%= hojavida.municipio %>"], ["<%= hojavida.tipo %>"], ["<%= hojavida.razonSocial %>"], ["<%= hojavida.tipoIdentificacion %>"], ["<%= hojavida.identificacion %>"], ["<%= hojavida.direccion %>"], ["<%= hojavida.repreLegal %>"], ["<%= hojavida.estado %>"], ["<%= hojavida.telefono %>"])
            <% }) %>
        <% } %>
    </script>

    <script>
        $(window).bind('load', function () {
            var nav = document.getElementById('nav2');
            $('#navlink1').removeClass('collapsed');
            var nav3 = document.getElementById('collapseOne');
            var nav4 = document.getElementById('show2');
            nav.className += "  active";
            nav3.className += "  show";
            nav4.className += "  active";
        });
    </script>
</body>

</html>