<div class="form-row align-items-center mb-sm-2">
  <div class="col my-1">
    <label class="mr-sm-2" for="provinciaID">Provincia</label>
    <input type="text" class="form-control form-control-user" id="provinciaID" name="provincia" value="<%= user.provincia %>" readonly>
  </div>
  <div class="col my-1">
    <label class="mr-sm-2" for="muniSelect">Municipio</label>
    <select id="muniSelect" name="municipio" class="custom-select mr-sm-2">
      <option selected disabled>Seleccione el Municipio
      </option>
      <option value="<%= user.municipio %>">
        <%= user.municipio %>
      </option>
      <% if(user.municipioExtra1 !="" ){ %>
      <option value="<%= user.municipioExtra1 %>">
        <%= user.municipioExtra1 %>
      </option>
      <% } %>
      <% if(user.municipioExtra2 !="" ){ %>
      <option value="<%= user.municipioExtra2 %>">
        <%= user.municipioExtra2 %>
      </option>
      <% } %>
      <% if(user.municipioExtra3 !="" ){ %>
      <option value="<%= user.municipioExtra3 %>">
        <%= user.municipioExtra3 %>
      </option>
      <% } %>
    </select>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-8 mb-3 mb-sm-0">
    <label class="mr-sm-2" for="grupEsta">Grupo Del
      Establecimiento</label>
    <select id="grupEsta" name="grupEsta" class="custom-select mr-sm-2">
      <option selected disabled>
        Seleccione el Grupo
      </option>
      <% var numberSelected2="" ; %>
      <% if(codigos){ %>
      <% codigos.forEach((codigos)=> { %>
      <% if (numberSelected2 !=codigos.grupo && codigos.grupo !="VEHÍCULOS TRANSPORTADORES DE ALIMENTOS Y BEBIDAS" ){ %>
      <option value="<%= codigos.grupo %>">
        <%= codigos.grupo %>
      </option>
      <% numberSelected2=codigos.grupo %>
      <% } %>
      <% }) %>
      <% } %>
    </select>
  </div>
  <div class="col-sm-2">
    <label class="mr-sm-2" for="codEsta">Codigo</label>
    <input type="text" class="form-control form-control-user" id="codEsta" name="codEsta" readonly />
  </div>
  <div class="col-sm-2">
    <label class="mr-sm-2" for="Nriesgo">Nivel de Riesgo</label>
    <input type="text" class="form-control form-control-user" id="Nriesgo" name="Nriesgo" readonly />
  </div>

</div>

<div class="form-group row">
  <div class="col-sm-12">
    <label class="mr-sm-2" for="tipoEsta">Tipo Del
      Establecimiento</label>
    <select id="tipoEsta" name="tipoEsta" class="custom-select mr-sm-2">
      <option selected>Seleccione el Tipo
      </option>
    </select>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-5">
    <label class="mr-sm-2" for="rSocial">Razón Social</label>
    <select id="rSocial" name="rSocial" data-live-search="true" data-show-subtext="true" class="custom-select mr-sm-2 selectpicker">
      <option selected disabled>
        Seleccione El Establecimiento
      </option>
    </select>
  </div>
  <div class="col-sm-2">
    <label class="mr-sm-3" for="tIden">Tipo </label>
    <input type="text" id="tIden" name="tIden" class="form-control form-control-user" readonly>
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="inputIden">Identificación</label>
    <input type="number" id="inputIden" name="inputIden" class="form-control form-control-user" readonly>
  </div>
  <div class="col-sm-2">
    <label class="mr-sm-2" for="phone">Telefono</label>
    <input type="number" id="phone" name="phone" class="form-control form-control-user" readonly>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
    <label class="mr-sm-2" for="rLegal">Representante Legal</label>
    <input type="text" class="form-control form-control-user" id="rLegal" name="rLegal" readonly />
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="direccion">Dirección</label>
    <input type="text" class="form-control form-control-user" id="direccion" name="direccion" readonly />
  </div>
  <div class="col-sm-3">
    <label class="mr-sm-2" for="estado">Estado</label>
    <input type="text" class="form-control form-control-user" id="estado" name="estado" readonly />
  </div>
</div>