<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../../../tools/head'); %>
  <link rel="stylesheet" href="/css/dropzone.css">
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../../../tools/sidebarTec'); %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <%- include('../../../tools/topbar'); %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">TOMA DE MUESTRAS</h1>
                  </div>
                  <form onsubmit="tomMuestraForm(event)" action="/tecnico/Consolidaciones/Enviar/TomaMuestras/<%= user.user %>" method="POST" autocomplete="off" enctype="multipart/form-data">
                    <%- include("./templateHV") %>

                    <div class="form-group row">
                      <div class="col-sm-4">
                        <label class="mr-sm-2" for="tipMues">Tipo de Muestra</label>
                        <select id="tipMues" name="tipMues" class="custom-select mr-sm-2">
                          <option selected disabled>Seleccione</option>
                          <option value="AGUA PARA CONSUMO HUMANO">
                            AGUA PARA CONSUMO HUMANO
                          </option>
                          <option value="AGUA DE USO RECREATIVO">
                            AGUA DE USO RECREATIVO
                          </option>
                          <option value="ALIMENTOS">ALIMENTOS</option>
                          <option value="BEBIDAS ALCOHOLICAS">
                            BEBIDAS ALCOHOLICAS
                          </option>
                          <option value="INTOXICACIONES ETAS">
                            INTOXICACIONES ETAS
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <label class="mr-sm-2" for="descripTip">Descripción De La Muestra</label>
                        <input type="text" placeholder="Ninguna" class="form-control form-control-user" id="descripTip" name="descripTip" onkeyup="mayus(this);" readonly />
                      </div>
                      <div class="col-sm-5">
                        <label class="mr-sm-2" for="tipAnali">Tipo de Analisis</label>
                        <select id="tipAnali" name="tipAnali" class="custom-select mr-sm-2">
                          <option selected disabled>Seleccione</option>
                          <option value="FISICOQUÍMICO">FISICOQUÍMICO</option>
                          <option value="MICROBIOLÓGICO">
                            MICROBIOLÓGICO
                          </option>
                          <option value="FISICOQUÍMICO Y MICROBIOLÓGICO">
                            FISICOQUÍMICO Y MICROBIOLÓGICO
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-3">
                        <label class="mr-sm-2" for="zona">Zona</label>
                        <select id="zona" name="zona" class="custom-select mr-sm-2">
                          <option selected disabled>Seleccione</option>
                          <option value="RURAL">RURAL</option>
                          <option value="URBANA">URBANA</option>
                        </select>
                      </div>
                      <div class="col-sm-6">
                        <label class="mr-sm-2" for="objEst">Objeto de Analisis</label>
                        <select id="objEst" name="objEst" class="custom-select mr-sm-2">
                          <option selected disabled>Seleccione</option>
                          <option value="VIGILANCIA">VIGILANCIA</option>
                          <option value="POR REQUERIMIENTO DE ALGUN ENTE DE CONTROL">
                            POR REQUERIMIENTO DE ALGUN ENTE DE CONTROL
                          </option>
                          <option value="POR QUEJA, ACCION POPULAR, DERECHO DE PETICIÓN">
                            POR QUEJA, ACCION POPULAR, DERECHO DE PETICIÓN
                          </option>
                          <option value="MAPA DE RIESGO">
                            MAPA DE RIESGO
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <label class="mr-sm-2" for="fVisit">Fecha_Visita</label>
                        <input type="date" placeholder="Ninguna" class="form-control form-control-user" id="fVisit" name="fVisit" />
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label class="mr-sm-2" for="acompananteEmp">Nombre Y Cargo Del Acompañante Por Parte De La
                          Empresa Y/O Institución</label>
                        <input type="text" class="form-control form-control-user" id="acompananteEmp" name="acompananteEmp" onkeyup="mayus(this);" />
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label class="mr-sm-2" for="observacion">Observaciones (Opcional)</label>
                        <textarea name="observacion" id="observacion" onkeyup="mayus(this);" maxlength="270" rows="2" class="form-control form-control-user" placeholder="Escribe las Observaciones Que Creas Necesarias"></textarea>
                      </div>
                    </div>

                    <!-- Divider -->
                    <hr class="sidebar-divider" style="border-top: 1px solid rgb(0 0 0)" />

                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label class="mr-sm-2" for="fields">Adjuntar
                          Archivo(s)</label>
                        <div class="drop-zone">
                          <span class="drop-zone__prompt">Arrastra el archivo o da click para buscar</span>
                          <input type="file" name="myFile" id="myFile" class="drop-zone__input" />
                        </div>
                      </div>
                    </div>

                    <button class="btn btn-primary btn-user btn-block" type="submit">
                      Registrar Consolidación
                    </button>
                    <a href="/tecnico/Consolidaciones/Enviar" class="btn btn-secondary btn-user btn-block">
                      Cancelar
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('../../../tools/footer'); %>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Salida</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Seleccione "Cerrar sesión" a continuación si está listo para
          finalizar su sesión actual.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancelar
          </button>
          <a class="btn btn-primary" href="/tecnico/logout">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Validations -->
  <script type="text/JavaScript" src="/js/Tecnico/formularios.js"></script>
  <script type="text/JavaScript" src="/js/tools/codigoEsta.js"></script>
  <script type="text/JavaScript" src="/js/tools/consolidaciones.js"></script>

  <!-- Dropzone -->
  <script type="text/JavaScript" src="/js/tools/dropzone.js"></script>

  <!-- Alert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <% if(typeof alert !="undefined" ) { %>
  <script type="text/JavaScript">
    Swal.fire({
        title: '<%= alert[0].alertTitle %>',
        text:'<%= alert[0].alertMessage %>',
        icon:'<%= alert[0].alertIcon %>',
        showConfirmButton: <%= alert[0].showConfirmButton %>,
        timer: <%= alert[0].timer %>
      }).then(()=>{
        window.location = '<%= alert[0].ruta %>'
      })
    </script>
  <% } %>

  <script type="text/JavaScript">
    <% if(codigos){ %>
          var arrayCod = []
          <% codigos.forEach((codigos)=> { %>
              arrayCod.push(["<%= codigos.grupo %>"], ["<%= codigos.codigo %>"], ["<%= codigos.tipo %>"], ["<%= codigos.nivelRiesgo %>"])
          <% }) %>
      <% } %>

      <% if(hojavida){ %>
          var arrayEsta = []
          <% hojavida.forEach((hojavida)=> { %>
              arrayEsta.push(["<%= hojavida.provincia %>"], ["<%= hojavida.municipio %>"], ["<%= hojavida.tipo %>"], ["<%= hojavida.razonSocial %>"], ["<%= hojavida.tipoIdentificacion %>"], ["<%= hojavida.identificacion %>"], ["<%= hojavida.direccion %>"], ["<%= hojavida.repreLegal %>"], ["<%= hojavida.estado %>"], ["<%= hojavida.telefono %>"])
          <% }) %>
      <% } %>

      $("#tipMues").change(function () {
          if (document.getElementById("tipMues").value == "ALIMENTOS" || document.getElementById("tipMues").value == "BEBIDAS ALCOHOLICAS") {
              $("#descripTip").attr("readonly", false);
          } else {
            document.getElementById("descripTip").value = ""
              $("#descripTip").attr("readonly", true);
          }
      });
    </script>

  <script>
    $(window).bind("load", function() {
      var nav = document.getElementById("nav2");
      $("#navlink1").removeClass("collapsed");
      var nav3 = document.getElementById("collapseOne");
      var nav4 = document.getElementById("show2");
      nav.className += "  active";
      nav3.className += "  show";
      nav4.className += "  active";
    });
  </script>
</body>

</html>